*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/*Navbar*/
nav .logo a{
    color: rgb(241, 11, 11) !important;
    font-family: 'Recursive', sans-serif;
    font-style: 800;
    font-size: 2rem;
    margin-left: 50px;
}

nav .logo a span{
    color: rgb(224, 228, 8);
    font-family: 'Recursive', sans-serif;
}

.navbar {
    background-color: rgb(46, 46, 1);
} 

#list a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
}
#navbarText .bttn button{
    color: #ff4800 !important;
    border: 1px solid rgb(224, 228, 8);
    width: 8rem;
}

.navbar-brand {
    font-family: 'Recursive', sans-serif;
}

#navbarText button:hover{
    color: #212529 !important;
    background-color: rgb(224, 228, 8);
}

.btn-outline-success {
    margin-right: 50px;
}

.btn-outline-success:hover{
    background-color: rgb(224, 228, 8)
}

button.navbar-toggler{
    background-color: #ffffff;
}
/*End Navbar*/

.header {
    background-image: url(../images/top.webp);
    background-repeat: no-repeat;
    height: 700px;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore {
    /* background-color: aqua; */
    height: 100px;
    width: 75%;
    margin-bottom: 20px;
    
}

.explore h1 {
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size: 60px;
    padding: 10px;
    color: green;
}

.forms-une {
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    height: 100px;
    width: 75%;
    padding-left: 10px;
}

#name-search, #meaning-search, #searchbtn {
    height: 60px;
    margin-right: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid green;
    border-radius: 5px;
}

#name-search, #meaning-search {
    width: 40%;
}

#searchbtn {
    background-color: #A397C2;
    width: 10%;
    border-radius: 5px 5px;
}

#searchbtn a {
    color: #fafafa;
    text-decoration: none;
    font-size: 18px;
}

#searchbtn:hover {
    background-color: yellow;
}

.history {
    /* background-color: aqua; */
    width: 75%;
    height: 10px;
    padding: 10px;
    font-size: 20px;
}

.content-container {
    border: 2px solid red;
    height: 700px;
    width: 75%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-text, .content-form {
    border: 2px solid brown;
    height: 400px;
    width: 48%;
}

.content-text {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.content-text h3, .form-une h3 {
    color: green;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.male-nom, .female-nom, .days {
    border: 2px solid purple;
    width: 33%;
    margin: 3px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    list-style-type: none;
}

.form-une {
    border: 2px solid red;
    width: 70%;
    height: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.btn-lg {
   background-color: #A498C3 !important;
   border: #A498C3 !important;
   width: 100%;
}

.btn-lg:hover {
    background-color: yellow !important;
}

